/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* FULL SCREEN BACKGROUND */
body {
  background: #061a33;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* PHONE FRAME */
.chat-wrapper {
  background: #0a1f3f;
  width: 430px;
  height: 95vh;
  border-radius: 35px;
  padding: 10px;
  box-shadow: 0px 0px 40px rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INNER CONTAINER */
.chat-container {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 3px solid #0b2e56;
}

/* HEADER */
.chat-header {
  background: #0d47a1;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 26px;
  font-weight: bold;
  border-bottom: 3px solid #072d6d;
}

/* CHAT AREA */
.chat-body {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: #e8f1ff;
}

/* BOT MESSAGE */
.bot-message {
  background: #dceaff;
  padding: 12px;
  border-radius: 12px;
  width: fit-content;
  margin-bottom: 10px;
  font-size: 15px;
  color: #062b57;
}

/* USER MESSAGE (BUTTON STYLE) */
.user-message {
  background: #b7ffc0;
  padding: 12px;
  border-radius: 12px;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
}

/* INPUT BAR */
.chat-input-area {
  display: flex;
  padding: 15px;
  border-top: 3px solid #0d47a1;
  background: white;
}

/* INPUT FIELD */
#chat-input {
  flex: 1;
  padding: 12px;
  border: 2px solid #0d47a1;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

/* SEND BUTTON */
#send-btn {
  background: #0a66ff;
  border: none;
  margin-left: 10px;
  padding: 12px 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
