body {
  background: #f0eef5;
  margin: 0;
  font-family: Arial, sans-serif;
}

.chat-container {
  width: 380px;
  margin: auto;
  margin-top: 40px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
}

.chat-header {
  background: #c46bff;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.bubble {
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  max-width: 80%;
  font-size: 15px;
  white-space: pre-line;
}

.user {
  background: #d1ffd1;
  margin-left: auto;
}

.bot {
  background: #f1e1ff;
  margin-right: auto;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #eee;
}

#user-input {
  flex: 1;
  padding: 12px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.send-btn {
  background: #c46bff;
  border: none;
  padding: 12px 18px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 8px;
}

/* dynamic button container */
.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
}

/* Service buttons */
.service-btn {
  background: #ffffff;
  color: #c46bff;
  border: 2px solid #c46bff;
  padding: 12px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.service-btn:hover {
  background: #c46bff;
  color: white;
}

.service-btn.selected {
  background: #c46bff;
  color: white;
  border-color: #8b31e0;
}

.time-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 10px;
}

.time-btn {
  background: white;
  border: 2px solid #c46bff;
  color: #c46bff;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.time-btn:hover {
  background: #c46bff;
  color: white;
}
